div[be_id='controls-background'] {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--vscode-activityBar-border);
    width: 100%;
    height: 30px;
}

div[be_id='controls']{
    top: 0;
    left: 0;
    position: fixed;
    background: var(--vscode-activityBar-border);
    /* left: 20px;
    width: 100%; */
}

div[be_id='controls'] span {
    padding: 5px 10px;
    display: inline-block;
    /* background-color: var(--button-secondary-background);
    color: var(--button-secondary-foreground); */
    margin-right: 5px;
}

div[be_id='controls'] button {
    margin-right: 5px;
}

div[be_id='controls'] span.button {
    cursor: pointer;
    min-width: 80px;
    text-align: center;
    user-select: none;
}

table {
    white-space: nowrap;
    display: table;
    outline: none;
    border-collapse: collapse;
    text-align: left;
    margin-top: 30px;
}

table thead {
    top: 30px;
    position: sticky;
    background-color: var(--vscode-banner-background);
}

th,
td {
    padding: 5px 15px;
    border-bottom: 1px solid gray;
}

.nullValue {
    font-style: italic;
    color: var(--vscode-inputValidation-warningBorder) !important;
}