.disableFocus {
    background: inherit;
    border: inherit;
    color: inherit;
    outline: inherit;
}

.nullValue {
    font-style: italic;
    color: var(--vscode-inputValidation-warningBorder) !important;
}